[submodule "src/contract/lib/forge-std"]
	path = src/contract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "src/contract/lib/openzeppelin-contracts"]
	path = src/contract/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "src/contract/lib/LayerZero-v2"]
	path = src/contract/lib/LayerZero-v2
	url = https://github.com/LayerZero-Labs/LayerZero-v2
